<style>
    .welcome-back {
        padding: 20px; /* Add padding to create space for the inner border */
    }

    .inner-border {
        border: 4px solid #fff; /* Add border to create the inner border */
        padding: 20px; /* Add padding to adjust inner content */
    }
</style>


<div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="welcome-back">
                    <div class="inner-border">
                        <div class="second-inner-border">
                            <h3>Welcome!<br>Experience the joy of stress-free travel with FastX Bus Ticket Booking App!</h3>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="col-lg-6">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')"> 
                                    <span class="fa fa-user p-2"></span> 
                                    <input formControlName="Email" type="text" placeholder="Email" required> 
                                </div>
                                <small *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')" class="text-danger">*Email is required*</small>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')"> 
                                    <span class="fa fa-lock px-2"></span> 
                                    <input formControlName="Password" [type]="type" placeholder="Password" required> 
                                    <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> 
                                        <span class="fa {{eyeIcon}}"></span> 
                                    </button>                                   
                                </div>
                                <small *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')" class="text-danger">*Password is required*</small>
                            </div>
                            <!-- Remove the role selection part -->
                            <button type="submit" class="btn custom-navbar btn-block mt-4 w-100 ">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have an account? <a id="forgot" href="#" routerLink="/signup">Sign up</a> </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="my-4">
