<!-- <div class="seat-icons">
  <div *ngFor="let seat of seatAvailability" class="seat-box" 
       [class.disabled]="!seat.IsAvailable" 
       (click)="selectSeat(seat.SeatNumber)">
    <span class="seat-icon"
          [class.available]="seat.IsAvailable"
          [class.occupied]="!seat.IsAvailable"
          [class.selected]="isSelected(seat.SeatNumber)"
          [ngStyle]="{ 'border-color': isSelected(seat.SeatNumber) ? '#ffa500' : null }">
    </span>
    <p>Seat {{ seat.SeatNumber }}</p>
  </div>
</div> -->
