<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <h3 class="textt">Operator Dashboard</h3>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom fontfor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" (click)="hideBusImage()" routerLink="/schedule">Buses Schedule</a></li>
            <li><a class="dropdown-item" (click)="hideBusImage()" routerLink="/booking">Bookings Management</a></li>
            <li><a class="dropdown-item" (click)="hideBusImage()" routerLink="/userOp">User Management</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Conditionally display the bus image -->
<!-- <img *ngIf="showBusImage" src="assets/images/bg-bus.jpg" alt="Bus Image" class="img-fluid"> -->
